*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
libs/

/code.style.schemes
/debugger.renderers.xml
/debugger.xml
/ui.lnf.xml
!/inspection/
/colors/
/androidStudioFirstRun.xml
