*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
libs/
src/main/java/com/wh/jxd/com/refactorqm/inter/
src/main/java/com/wh/jxd/com/refactorqm/model/inter/
src/main/java/com/wh/jxd/com/refactorqm/service/
src/main/java/com/wh/jxd/com/refactorqm/view/widget/
